:root {
  --colorPurple: #7833ff; /*#4B0FFF; /*#7547FF; #8d66ff;*/
  --colorOrange: #ffff99;
  --colorPink:   #e080ff;
}

html {
  width: 100%;
}

body {
  background: var(--colorOrange);
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  font: 1.2em sans-serif;
}

h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

p {
  text-shadow: 0 0;
}

#askBlock {
  font-family: "Courier";
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3em;
  margin-bottom: 2em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#planet {
  font-size: 2em;
  font-style: ;
  margin-top: 1em;
  user-select: none;
}

a:link, a:visited {
  color: var(--colorPurple);
}

a:hover {
  color: var(--colorPink);
}

::selection {
  color: white;
  color: var(--colorPurple);
  background-color: var(--colorPink);
}

#letter {
  color: var(--colorPurple);
}
